<div>
  <h1>{{(userRecord$ | async).data?.name}}</h1>

  <mat-tab-group dynamicHeight mat-align-tabs="start" color="accent">
    <mat-tab label="Personal details">
      <ng-template matTabContent>
        <info-field>
          <label>Username:</label>
          <span>{{(userRecord$ | async).data?.userName}}</span>
        </info-field>

        <info-field>
          <label>Email address:</label>
          <span>{{(userRecord$ | async).data?.email}}</span>
        </info-field>

        <info-field>
          <label>Phone:</label>
          <span>{{(userRecord$ | async).data?.phone}}</span>
        </info-field>

        <info-field>
          <label>Website:</label>
          <span>{{(userRecord$ | async).data?.website}}</span>
        </info-field>
      </ng-template>
    </mat-tab>
    <mat-tab label="Address">
      <ng-template matTabContent>
        <info-field>
          <label>Street:</label>
          <span>{{(userRecord$ | async).data?.address.street}}</span>
        </info-field>

        <info-field>
          <label>City:</label>
          <span>{{(userRecord$ | async).data?.address.city}}</span>
        </info-field>

        <info-field>
          <label>Suite:</label>
          <span>{{(userRecord$ | async).data?.address.suite}}</span>
        </info-field>

        <info-field>
          <label>Zipcode:</label>
          <span>{{(userRecord$ | async).data?.address.zipcode}}</span>
        </info-field>
      </ng-template>
    </mat-tab>
    <mat-tab label="Company">
      <ng-template matTabContent>
        <info-field>
          <label>Name:</label>
          <span>{{(userRecord$ | async).data?.company.name}}</span>
        </info-field>

        <info-field>
          <label>Business:</label>
          <span>{{(userRecord$ | async).data?.company.business}}</span>
        </info-field>

        <info-field>
          <label>Quote:</label>
          <span>{{(userRecord$ | async).data?.company.quote}}</span>
        </info-field>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div class="app-albums-section-title">
    <h2>Albums</h2>
    <mat-chip-list>
      <mat-chip selected color="primary">{{(albums$ | async).data?.length}}</mat-chip>
    </mat-chip-list>
  </div>

  <mat-accordion multi>
    <mat-expansion-panel
      *ngFor="let album of (albums$ | async).data; trackBy: trackAlbumsById"
      (afterExpand)="onAlbumPanelExpanded(album)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{album.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>