info-field {
  display: grid;
  grid-template-columns: 180px 1fr;

  > * {
    padding: 10px;
  }

  label {
    font-weight: 500;
  }
}

.app-albums-section-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
