/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  margin: 0;
}

.mat-tab-body-wrapper {
  min-height: 250px;

  .mat-tab-body-content {
    padding: 10px 20px;
  }
}
