@import '~@angular/material/theming';

@include mat-core();

$app-primary: (
  50 : #e9f7ef,
  100 : #c8ebd7,
  200 : #a4ddbc,
  300 : #7fcfa1,
  400 : #63c58c,
  500 : #48bb78,
  600 : #41b570,
  700 : #38ac65,
  800 : #30a45b,
  900 : #219648,
  A100 : #d2ffe0,
  A200 : #9fffbc,
  A400 : #6cff99,
  A700 : #52ff88,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$app-warm: (
  50 : #fdf1e7,
  100 : #fadcc3,
  200 : #f6c49b,
  300 : #f2ac72,
  400 : #f09b54,
  500 : #ed8936,
  600 : #eb8130,
  700 : #e87629,
  800 : #e56c22,
  900 : #e05916,
  A100 : #ffffff,
  A200 : #ffe8de,
  A400 : #ffc4ab,
  A700 : #ffb291,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$app-accent: (
  50 : #fdf9e9,
  100 : #f9efc9,
  200 : #f6e4a5,
  300 : #f2d981,
  400 : #efd166,
  500 : #ecc94b,
  600 : #eac344,
  700 : #e7bc3b,
  800 : #e4b533,
  900 : #dfa923,
  A100 : #ffffff,
  A200 : #fff7e5,
  A400 : #ffe8b3,
  A700 : #ffe099,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$primary: mat-palette($app-primary);
$accent:  mat-palette($app-accent);
$warm: mat-palette($app-warm);
$theme: mat-dark-theme($primary, $accent, $warm);

@include angular-material-theme($theme);

info-field label {
  color: mat-color($app-accent, A700);
}
